/* UNIVERSAL STYLES */

body {
    background-color: black;
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

h3 {
    font-size: 1.60875rem;
    padding: 10px;
    margin: 0;
    justify-content: center;
    text-align: center;
}

h4 {
    padding: 10px;
    margin: 0;
    justify-content: center;
    text-align: center;
}

/* HEADER */

header {
    height: 69px;
    width: 100%;
    border-bottom: solid seashell 1px;
    position: fixed;
    z-index: 1;
    background-color: black;
    align-items: center;
}

.logo {
    height: 50px;
    padding-left: 10px;
    justify-content: flex-start;
}

nav {
    text-align: right;
    flex-grow: 1;
  }

nav li {
    display: inline-block;
    padding: 20px 10px;
    text-decoration: underline;
}

/* MAIN SECTION */

.jumbotron {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
    height: 700px;
    width: 1200px;
    padding-top: 69px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin: auto;
}

.banner {
    background-color: black;
    align-items: center;
    width: 100%;
}

/* TEA OF THE MONTH SECTION */

#featured {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.col {
    padding: 5px;
}

.col img {
    height: 200px;
    width: 300px;
    display: block;
}

/* LOCATIONS SECTION */

  
#directions {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
    background-repeat: no-repeat;
    height: 500px;
    padding-top: 70px;    
    margin: auto;
    width: 1100px;
    justify-content: center;
    align-items: center;

  }


.location {
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FOOTER SECTION */

#trademark {
    display: inline-flex;
    align-items: flex-start;

}